/* global style */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --general-font-size: 1rem;
  --h1-size: 2rem;
  --h2-size: 1.5rem;
  --h3-size: 1.25rem;
  --primary-color: #2F4F4F;
  --secondary-color: #127b7b;
  --accent-color: #FFFFFF;
  --font-heading: 'Montserrat';
  --font-body: 'Fira Sans', Arial, sans-serif;

}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--general-font-size);
  color: var(--accent-color);
  background-color: #0f1f1f;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  color: var(--accent-color);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
