/* Simple styling for component and table*/
.inventory-search {
    font-family: "Fira Sans", Arial, sans-serif;
    font-size: 1rem;
    color: #2F4F4F;
    background-color: #FFFFFF;
    padding-top: 1rem;
}

.inventory-search h2 {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 1.5rem;
    color: #127b7b;
}

.inventoryTable {
    width: 100%;
    font-size: 18px;
}

.inventoryTable th,
.inventoryTable td {
    text-align: left;
    padding: 5px;
    border: 1px solid #2F4F4F;
}


.inventoryTable th {
    background-color: #2F4F4F;
    color: #FFFFFF;
}

.searchLabel {
    font-size: var(--general-font-size);
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;

}

input {
    font-size: var(--general-font-size);
    gap: 10px;
}

.toggleFormButton {
    display: flex;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #2F4F4F;
    margin: 10px 0;
    margin-left: 20px;
    cursor: pointer;
}
.toggleFormButton:hover {
    background-color: #127b7b; 
}