/* This is the global styles with root having variables for colors, fonts and sizes*/
:root {
  --font-heading: 'Montserrat';
  --font-body: 'Fira Sans', Arial, sans-serif;

  --general-font-size: 1rem;
  --h1-size: 2rem;
  --h2-size: 1.5rem;
  --h3-size: 1.25rem; 

  color-scheme: light dark;
  --primary-color: #2F4F4F; 
  --secondary-color: #127b7b; 
  --accent-color: #ffffff;   
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--base-font-size);
  color: var(--accent-color);
  background-color: #0f1f1f;

}

h1, h2, h3 {
  font-family: var(--font-heading);
  color: var(--accent-color);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}


/*button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
}
*/
